# MySQL y Python

In [6]:
import mysql.connector

con = mysql.connector.connect(user = "root", password = "12345", host = "localhost", database = "dbPython", auth_plugin='mysql_native_password'
)
cursor = con.cursor()

In [7]:
cursor.execute("CREATE TABLE example (id INT, data VARCHAR (100));")

ProgrammingError: 1050 (42S01): Table 'example' already exists

In [3]:
# Vamos ahora a agregar datos a la BD
cursor.execute("INSERT INTO example (id, data) VALUES ('9', 'dato')")
cursor.execute("INSERT INTO example (id, data) VALUES ('10', 'dato2')")
con.commit()

# con.close()

In [9]:
cursor.execute("SELECT * FROM example")

rows = cursor.fetchall()

for row in rows:
    print(row)

(9, 'dato')
(10, 'dato2')

In [10]:
cursor.execute("SELECT * FROM example where id = 10")

rows = cursor.fetchall()

for row in rows:
    print(row)

(10, 'dato2')

In [11]:
cursor = con.cursor()
cursor.execute("DELETE FROM `example` WHERE `id` = 10;")

con.commit()

In [12]:
cursor.execute("SELECT * FROM example")

rows = cursor.fetchall()

for row in rows:
    print(row)
cursor.close()
con.close()

(9, 'dato')